<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Посещаемость</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h2>Посещаемость</h2>
    <form action="" method="post">
        <select name="lesson" id="lesson">
            <option value="-1" selected disabled>---Выберите предмет---</option>
            <div th:replace="blocks/select-templates :: lessons-select"/>
        </select>
        <input type="submit" value="Обновить">
    </form>
    <br>
    <div class="wrapper">
        <table>
            <tr>
                <td></td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
                <td>04.07.2001</td>
            </tr>
            <tr>
                <td>Пурин Игорь Игоревич</td>
                <td></td>
            </tr>
            <tr>
                <td>Пурин Игорь Игоревич</td>
                <td></td>
            </tr>
            <tr>
                <td>Пурин Игорь Игоревич</td>
                <td></td>
            </tr>
            <tr>
                <td>Пурин Игорь Игоревич</td>
                <td></td>
            </tr>
        </table>
    </div>
    <br><a href="/">Вернуться</a>
</body>
</html>