<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h2>Релактор расписания</h2>
    <form action="">
        День недели: 
        <select name="DOTW" id="DOTW">
            <option value="-1" selected disabled>--Выберите день недели---</option>
            <option value="0">Понедельник</option>
            <option value="1">Вторник</option>
            <option value="2">Среда</option>
            <option value="3">Четверг</option>
            <option value="4">Пятница</option>
            <option value="5">Суббота</option>
            <option value="6">Воскресенье</option>
        </select><br>
        Предмет:
        <select name="lesson" id="lesson">
            <option value="-1" selected disabled>---Выберите предмет---</option>
            <div th:replace="blocks/select-templates :: lessons-select"/>
        </select><br>
        Тип: 
        <select name="type" id="type">
            <option value="-1" selected disabled>---Выберите тип занятия---</option>
            <option value="0">Лекция</option>
            <option value="1">Семинар</option>
            <option value="2">Лабораторная работа</option>
        </select><br>
        Неделя:
        <span class="ratio-week">Нечётная <input type="radio" name="week" id="odd" checked value="odd"></span>
        <span class="ratio-week">Чётная <input type="radio" name="week" id="even" value="even"><br></span>
        <span class="ratio-week">Всегда <input type="radio" name="week" id="both" value="both"><br></span>
        Время проведения занятия: <input type="time" name="time" id="time" value="12:00"><br>
        Действие:
        <span class="ratio-week">Добавить <input type="radio" name="action" id="add" checked value="add"></span>
        <span class="ratio-week">Редактировать <input type="radio" name="action" id="edit" value="edit"><br></span>
        <input type="submit" value="Добавить" id="execute" disabled> <input type="submit" value="Удалить" disabled id="delete"> 
    </form><br>
    <a href="/">Вернуться</a>
    <script th:src="@{/js/alert.js}"></script>
    <script th:src="@{/js/schedule.js}"></script>
</body>
</html>