<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Студенты</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h2>Студенты</h2>
    <form method="post">
        <h3>Редактор</h3>
        Студент: 
        <select name="student" id="selected_student">
            <option value="-1" selected>---Добавить---</option>
            <div th:replace="blocks/select-templates :: students-select"/>
        </select><br>
        ФИО: <input type="text" name="fullname" maxlength="100"><br>
        <input type="submit" value="Добавить" id="send" formaction="/student/edit"> <input type="submit" value="Удалить" id="remove" disabled="true" formaction="/student/remove">
    </form><br>
    <a href="/">Вернуться</a>
    <script th:src="@{/js/alert.js}"></script>
    <script th:src="@{/js/student.js}"></script>
</body>
</html>